body{
    /* background: linear-gradient(rgb(231, 240, 240),white); */
    /* height: auto; */
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; /* or any value like 300, 500, 700 */
    font-style: normal;
}
body{
    width: 100%;
}

 .navbar{
    /* border:2px solid red; */
    height: 70px;
    width:940px;

    margin:0 auto;
    margin-top: 20px;
    margin-bottom: 100px;

    display: flex;

    justify-content: space-between;
} 

/* .logo img{
    width: 100vw;
    height:100vh;
} */

.menubar li{
    list-style: none;
}
.menubar a{
    text-decoration: none;
    margin-left: 10px;

    color: black;
}
.menubar ul{
    display: flex;
}

.card_logo{
    height: 30px;
    width:30px;

    display: inline;
}

.card_container{
    display: flex;
}

.menubar_container{
    display: flex;
    gap:20px;
}

/* banner */
.left{
    grid-area:left;
    /* padding:10px; */
    /* border: 2px solid green; */
     align-self: end;

     margin-right: 30px;

}
.right{
    grid-area:right;
    /* padding:10px; */
    
}
.R_img{
    height: 100%;
}

.banner{
    /* border: 2px solid green; */
    margin-top: 30px;
    width: 940px;
    margin: 0 auto;
    align-items: stretch;

    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    grid-template-areas: " left Right"
                          "left right"
    ;
}

/* plan part */
.plant{
    width:940px;
    /* border: 2px solid green; */
    margin:0 auto;
    margin-bottom: 70px;
}

.p_up{
    width:940px;
    justify-content: center;
    text-align: center;
    /* border: 2px solid green; */
    padding-top:70px;
    padding-bottom: 30px;

    
}
.p_down{
    /* border: 2px solid green; */
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    gap:10px;


}

.card_bottom{
    
    justify-content: center;
    align-items: center;
    margin: 0 auto;
   text-align: center;
}
.card_bottom button{
    width: 100%;
    -moz-outline-radius: 5px;
}
.p_up h3{
    margin-bottom:10px;
}

/* plant lover */
.plantlover{
     width:940px;
     height: 400px;
    /* border: 2px solid green; */
    margin:0 auto;
    margin-bottom: 70px;
    

}
.pltop{
    /* border: 2px solid green; */
    display: flex;
    margin-top: -45%;
    
}
.pltop img{
    /* border: 2px solid green; */
    height: 20%;
    width: 20%;
    margin-left: 25%;
   
    
}
.plleft{
    width:70%;
}
.plbottom{
     /* border: 2px solid green; */
    display: grid;
    grid-template-columns: repeat(2,1fr);
     
    
}
.plright{
    margin-left: 0;
}

/* Join Section */

.joinSection{
    height: 400px;
    width: 100%;
    position: relative;

    display: inline-block;

    /* border: 2px solid green; */


}


.jimg{
    /* border: 2px solid green; */
    width: 100%;
    height: 300px;
   
    margin-top: 100px;
    display: block;
    /* top:50%; */

}
.jimg img{
    width: 100%;
    height: 100%;
    display: block;
}
.jup{  
    position: absolute;
    top:70%;
    left:50%;
    transform:translate(-50%,-50%) ;
    text-align: center;
    color:white;

    
    /* z-index: 2; */
    
}


/* footer section */
footer{
    width:940px;
    /* border: 2px solid green; */
    margin:0 auto;
    margin-bottom: 70px;
    margin-top: 70px;
    /* height: 380px; */

    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-between;
}
.footer_1 img{
    margin-bottom: 10px;
}
.footer_2{
    display: flex;
    /* grid-template-columns: 1fr 1fr; */
    /* border: 2px solid green; */

    justify-content: space-around;
    
}




@media screen and (max-width:640px){
    
    .menubar
    {
        display: none;
        width: 100%;
    }
    

    .card_container{
        display: flex;
        font-weight: 500;
        
    }

    .navbar{
        width:430px;
        margin:0 auto;
        margin-top: 10px;

        display: flex;

        justify-content: space-between;
    }

    .card_logo{
        height: 30px;
        width:30px;

        display: inline;
    }

    .banner{
        width:430px;
        grid-template-areas: " Right"
                          "left";

        margin-top: 70px;

        gap:10px;
    }

    .p_down{
    /* border: 2px solid green; */
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    gap:10px;
    }

    .plant{
    width:430px;
    /* border: 2px solid green; */
    margin:0 auto;
}
.p_up{
    width:430px;
    justify-content: center;
    text-align: center;
    /* border: 2px solid green; */
    padding-top:70px;
    padding-bottom: 30px;

    
}

.pltop img{
    display: none;
   
    
}
.plleft img{
    width:100%;
    /* height: 80%; */
    /* border: 2px solid green; */

}

.plleft{
    width: 430px;
    /* height: 700px; */
    /* border: 2px solid green; */

}
.plbottom{
   justify-content: center;
    /* border: 2px solid green; */
    display: grid;
    grid-template-columns: repeat(1,1fr);
     
     gap:10px;
}

.plantlover{

     width:430px;
    /* border: 2px solid green; */
    height: 600px;
    margin:0 auto;
    margin-top: 70px;
}

footer{
    width:100%;
    /* border: 2px solid green; */
    
    margin-bottom: 70px;
    margin-top: 70px;
    /* height: 380px; */

    display: grid;
    grid-template-columns: repeat(1,1fr);
    justify-content: space-between;
    gap:30px;
}

.footer_2{
    display: flex;
    flex-direction: column;
    /* grid-template-columns: 1fr 1fr; */
    /* border: 2px solid green; */

    /* justify-content: space-around; */
    gap:2px;
    
}
}