body{
    background: linear-gradient(rgb(231, 240, 240),white);
    height: auto;
}
body{
    width: 100%;
}

 .navbar{
    /* border:2px solid red; */
    height: 70px;
    width:940px;

    margin:0 auto;
    margin-top: 20px;
    margin-bottom: 100px;

    display: flex;

    justify-content: space-between;
} 

/* .logo img{
    width: 100vw;
    height:100vh;
} */

.menubar li{
    list-style: none;
}
.menubar a{
    text-decoration: none;
    margin-left: 10px;

    color: black;
}
.menubar ul{
    display: flex;
}

.card_logo{
    height: 30px;
    width:30px;

    display: inline;
}

.card_container{
    display: flex;
}

.menubar_container{
    display: flex;
    gap:20px;
}

/* banner */
.left{
    grid-area:left;
    /* padding:10px; */
    /* border: 2px solid green; */
     align-self: end;

     margin-right: 30px;

}
.right{
    grid-area:right;
    /* padding:10px; */
    
}
.R_img{
    height: 100%;
}

.banner{
    /* border: 2px solid green; */
    margin-top: 30px;
    width: 940px;
    margin: 0 auto;
    align-items: stretch;

    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    grid-template-areas: " left Right"
                          "left right"
    ;
}

/* plan part */
.plant{
    width:940px;
    /* border: 2px solid green; */
    margin:0 auto;
}

.p_up{
    width:940px;
    justify-content: center;
    text-align: center;
    /* border: 2px solid green; */
    padding-top:70px;
    padding-bottom: 30px;

    
}
.p_down{
    /* border: 2px solid green; */
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    gap:10px;


}

.card_bottom{
    /* border: 2px solid green; */
    justify-content: center;
    align-items: center;
    margin: 0 auto;
   text-align: center;
}
.card_bottom button{
    width: 100%;
    -moz-outline-radius: 5px;
}
.p_up h3{
    margin-bottom:10px;
}



@media screen and (max-width:640px){
    
    .menubar
    {
        display: none;
        width: 100%;
    }
    

    .card_container{
        display: flex;
        font-weight: 500;
        
    }

    .navbar{
        width:430px;
        margin:0 auto;
        margin-top: 10px;

        display: flex;

        justify-content: space-between;
    }

    .card_logo{
        height: 30px;
        width:30px;

        display: inline;
    }

    .banner{
        width:430px;
        grid-template-areas: " Right"
                          "left";

        margin-top: 70px;

        gap:10px;
    }

    .p_down{
    /* border: 2px solid green; */
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    gap:10px;
    }

    .plant{
    width:430px;
    /* border: 2px solid green; */
    margin:0 auto;
}
.p_up{
    width:430px;
    justify-content: center;
    text-align: center;
    /* border: 2px solid green; */
    padding-top:70px;
    padding-bottom: 30px;

    
}
}